* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__brand {
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  margin: 10px;
}
.nav__sign {
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  margin: 10px;
  background-color: rgb(57, 60, 230);
  border-radius: 8px;
}

.header {
  width: 100%;
  height: 50vh;
  background-image: url(/img/Thibaut\ POINLOUP\ -\ bg-masthead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
.header__section {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__section__title {
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 100%;
}
.header__section__email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.header__section__email__input {
  padding: 13px;
  width: 75%;
  border-radius: 8px;
}
.header__section__email__btn {
  margin-top: 20px;
  padding: 13px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(57, 60, 230, 0.8);
  border: none;
  border-radius: 8px;
}

@media screen and (min-width: 479px) {
  .header__section__email__input {
    padding: 13px;
    width: 400px;
    border-radius: 8px;
  }
  .header__section__email__btn {
    margin-top: 20px;
    padding: 13px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(57, 60, 230, 0.8);
    border: none;
    border-radius: 8px;
  }
}
@media screen and (min-width: 960px) {
  .header__section__email {
    flex-direction: row;
  }
  .header__section__email__input {
    width: 400px;
  }
  .header__section__email__btn {
    margin-top: 0px;
    margin-left: 20px;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards__article {
  width: 80%;
  margin: 30px auto;
}
.cards__article i {
  font-size: 65px;
  color: rgb(57, 60, 230);
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.cards__article__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.cards__article__paragraph {
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 479px) {
  .cards__article {
    width: 380px;
    margin: 30px auto;
  }
}
@media screen and (min-width: 767px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
}
span {
  width: 50%;
  height: 2px;
  display: block;
  margin: 0 auto 30px;
  background-color: rgb(143, 143, 143);
}

.formulaire {
  width: 100%;
}
.formulaire__title {
  text-align: center;
  font-size: 28px;
}
.formulaire__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 30px auto;
  padding: 10px;
}
.formulaire__form__name {
  text-align: center;
}
.formulaire__form__name__input {
  padding: 10px;
  width: 90%;
  margin: 15px auto;
  border-radius: 8px;
}
.formulaire__form__coordonnes {
  text-align: center;
}
.formulaire__form__coordonnes__input {
  padding: 10px;
  width: 90%;
  margin: 15px auto;
  border-radius: 8px;
}
.formulaire__form__textarea {
  resize: vertical;
  width: 90%;
  margin: 15px auto;
  border-radius: 8px;
}
.formulaire__form__btn {
  margin: 15px;
  padding: 13px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(57, 60, 230, 0.8);
  border: none;
  border-radius: 8px;
  align-self: start;
}

@media screen and (min-width: 479px) {
  .formulaire__form {
    width: 400px;
    margin: 30px auto;
    padding: 10px;
  }
}
@media screen and (min-width: 767px) {
  .formulaire__form {
    width: 700px;
    margin: 30px auto;
    padding: 10px;
  }
  .formulaire__form__name, .formulaire__form__coordonnes {
    display: flex;
    justify-content: center;
  }
  .formulaire__form__name__input {
    width: 300px;
    margin: 10px;
  }
  .formulaire__form__coordonnes__input {
    width: 300px;
    margin: 10px;
  }
  .formulaire__form__btn {
    margin: 30px;
  }
}
.footer {
  padding: 15px;
  background-color: rgb(185, 185, 185);
}
.footer__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(57, 60, 230);
}
.footer__ul__li {
  list-style-type: none;
}
.footer__ul__li__a {
  text-decoration: none;
  color: rgb(57, 60, 230);
}
.footer__paragraph {
  text-align: center;
}

@media screen and (min-width: 767px) {
  .footer__ul {
    justify-content: flex-start;
  }
  .footer__paragraph {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  main, nav {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */
