.formulaire{
    margin-bottom: 60px;
    &__title{
        text-align: center;
        margin-bottom: 60px;
    }
    &__form{
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.562);
        &__name, &__coordonnes{
            width: 95%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 15px auto;
            &__input{
                padding: 10px;
                width: 250px;
                border-radius: 50px;
            }
        }
        &__textarea{
            width: 95%;
            resize: none;
            border-radius: 10px;
            margin-bottom: 30px;
            padding: 10px;
        }
        &__btn{
            font-weight: bold;
            color: #fff;
            background-color: rgba(26, 38, 211);
            border: none;
            border-radius: 8px;
            padding: 15px;
            align-self: flex-start;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:675px){
    .formulaire__form{
        width: 90%;
        &__name, &__coordonnes{
            width: 95%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0px auto;
            &__input{
                padding: 10px;
                width: 95%;
                border-radius: 50px;
            margin: 15px auto;
                
            }
        }
    }
}