.formulaire{
    width: 100%;
    &__title{
        text-align: center;
        font-size: 28px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.25);
        width: 90%;
        margin: 30px auto;
        padding: 10px;
        border-radius: 8px;
        &__name{
            text-align: center;
            &__input{
                padding: 10px;
                width: 90%;
                margin: 15px auto;
                border-radius: 8px;
                border: none;
                background-color: rgb(233, 233, 233);
                font-size: 14px;

            }
        }
        &__coordonnes{
            text-align: center;
            &__input{
                padding: 10px;
                width: 90%;
                margin: 15px auto;
                border-radius: 8px;
                border: none;
                background-color: rgb(233, 233, 233);
                font-size: 14px;

            }
        }
        &__textarea{
            resize: vertical;
            width: 90%;
            margin:15px auto;
            border-radius: 8px;
            background-color: rgb(233, 233, 233);
            padding: 10px;
            border: none;
            font-size: 14px;

        }
            &__btn{
                margin: 15px;
                padding: 13px;
                font-weight: bold;
                color: #fff;
                background-color: rgba(57, 60, 230,.8);
                border: none;
                border-radius: 8px;
                align-self: start;
                border: none;

            }
    }
}

@media screen and (min-width: 479px){
    .formulaire__form{
        width: 400px;
        margin: 30px auto;
        padding: 10px;
    }
}

@media screen and (min-width: 767px){
    .formulaire__form{
        width: 700px;
        margin: 30px auto;
        padding: 10px;

        &__name, &__coordonnes{
            display: flex;
            justify-content: center; 
        }

        &__name__input{
            width: 300px;
            margin: 10px;
        }
        &__coordonnes__input{
            width: 300px;
            margin: 10px;
        }
        &__btn{
            margin: 30px;
            
        }
    }
}